.heading .plus{
    border: 4px solid #DA6666;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    border-radius: 50%;
    display: flex;
        align-items: center;
        justify-content: center; 
}