
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' ,fullScreenBackdrop:true}"></ngx-loading>
<div class="wrapper">
<app-sidebar></app-sidebar>
<app-header></app-header>

<div class="page-wrapper">
    <div class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-4">
            <div class="breadcrumb-title pe-3">Tenant</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:void(0);" routerLink="/dashboard"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page" >Add Tenant</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!--end breadcrumb-->
          <div class="row">
            <div class="col-xl-7 mx-auto">
                <div class="card border-top border-0 border-4 border-brand">
                    <div class="card-body p-5">
                        <div class="card-title d-flex align-items-center">
                            
                            <div><i class="bx bxs-user me-1 font-22 brand-color"></i>
                                
                            </div>
                            <h5 class="mb-0 brand-color">Add Tenant</h5>
                        </div>
                        <hr>
                        <form [formGroup]="tenantData"  class="row" >
                            <!-- First Name -->
                            <div class="col-6">
                                <div class="form-group pb-4">
                                  <label class="form-label m-0" for="firstName">First Name</label>
                                  <input type="text" class="form-control" id="firstName" placeholder="First Name" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                                  <small class="errormessage orange-color d-inline-block pt-2" *ngIf="submitted && f.firstName.errors?.['required']">
                                    First Name is required
                                  </small>
                                </div>
                              </div>
                            
                              <!-- Last Name -->
                              <div class="col-6">
                                <div class="form-group pb-4">
                                  <label class="form-label m-0" for="lastName">Last Name</label>
                                  <input type="text" class="form-control" id="lastName" placeholder="Last Name" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                                  <small class="errormessage orange-color d-inline-block pt-2" *ngIf="submitted && f.lastName.errors?.['required']">
                                    Last Name is required
                                  </small>
                                </div>
                              </div>
                            
                              <!-- Email -->
                              <div class="col-6">
                                <div class="form-group pb-4">
                                  <label class="form-label m-0" for="email">Email</label>
                                  <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                  <small class="errormessage orange-color d-inline-block pt-2" *ngIf="submitted && f.email.errors?.['required']">
                                    Email is required
                                  </small>
                                  <small class="errormessage orange-color d-inline-block pt-2" *ngIf="submitted && f.email.errors?.['email']">
                                    Invalid Email format
                                  </small>
                                </div>
                              </div>
                            
                              <!-- Mobile Number -->
                              <div class="col-6">
                                <div class="form-group pb-4">
                                  <label class="form-label m-0" for="phoneNumber">Mobile Number</label>
                                  <input type="text" class="form-control" id="phoneNumber" placeholder="Mobile Number" formControlName="phoneNumber" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }">
                                  <small class="errormessage orange-color d-inline-block pt-2" *ngIf="submitted && f.phoneNumber.errors?.['required']">
                                    Mobile Number is required
                                  </small>
                                  <small class="errormessage orange-color d-inline-block pt-2" *ngIf="submitted && f.phoneNumber.errors?.['pattern']">
                                    Invalid Mobile Number (must be 10 digits)
                                  </small>
                                </div>
                              </div>
                            
                              <!-- Password -->
                              <div class="col-6">
                                <div class="form-group pb-4">
                                  <label class="form-label m-0" for="password">Password</label>
                                  <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                  <small class="errormessage orange-color d-inline-block pt-2" *ngIf="submitted && f.password.errors?.['required']">
                                    Password is required
                                  </small>
                                  <small class="errormessage orange-color d-inline-block pt-2" *ngIf="submitted && f.password.errors?.['minlength']">
                                    Password must be at least 6 characters long
                                  </small>
                                </div>
                              </div>

                              <div class="col-6"></div>

                                   <!-- Property -->
                            <div class="col-6">
                              <div class="form-group pb-4">
                                <label class="form-label m-0" for="property">Property</label>
                                <select 
                                  class="form-control" 
                                  id="property" 
                                  formControlName="propertyId" 
                                  [ngClass]="{ 'is-invalid': submitted && f.propertyId.errors }"
                                  >
                                  <option value="" disabled selected>Select a property</option>
                                  <option *ngFor="let property of propertyListing" [value]="property._id">
                                    {{ property.name }}
                                  </option>
                                </select>
                                <small 
                                  class="errormessage orange-color d-inline-block pt-2" 
                                  *ngIf="submitted && f.propertyId.errors?.['required']">
                                  Property is required
                                </small>
                              </div>
                            </div>
                                 <!-- unit Number -->
                                 <div class="col-6">
                                  <div class="form-group pb-4">
                                    <label class="form-label m-0" for="unitNumber">Unit Number</label>
                                    <input type="text" class="form-control" id="unitNumber" placeholder="Unit Number" formControlName="unitNumber" [ngClass]="{ 'is-invalid': submitted && f.unitNumber.errors }">
                                    <small class="errormessage orange-color d-inline-block pt-2" *ngIf="submitted && f.unitNumber.errors?.['required']">
                                      Unit Number is required
                                    </small>
                                    
                                  </div>
                                </div>

                              
                          
                            <!-- Action Buttons -->
                            <div class="col-12 pt-4 d-flex">
                                <button type="button" class="btn custom-btn brand-btn px-5 me-5" (click)="service.back()">Back</button>
                                <button type="submit" class="btn custom-btn brandsecundary-btn px-5" (click)="onSubmit()" >Submit</button>
                              </div>
                            
                          </form>
                    </div>
                </div>
            </div>
        </div>

        <!--end row-->

    </div>
</div>

<app-footer></app-footer>
</div>


