<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' ,fullScreenBackdrop:true}"></ngx-loading>
<div class="wrapper">
    <app-sidebar></app-sidebar>
    <app-header></app-header>
    <div class="page-wrapper">
        <div class="page-content">
            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-4">
                <div class="breadcrumb-title pe-3">Tickets</div>
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item"><a href="javascript:void(0)" routerLink="/dashboard"><i class="bx bx-home-alt"></i></a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Tickets</li>
                        </ol>
                    </nav>
                </div>
                <div class="ms-auto">
                    <div class="btn-group">
                        <!-- <button type="button" class="btn brand-btn split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span>Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end"> <a class="dropdown-item" href="javascript:void(0)">Action</a>
                            <a class="dropdown-item" href="javascript:void(0)">Another action</a>
                            <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
                            <div class="dropdown-divider"></div> <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
                        </div> -->
                    </div>
                </div>
            </div>
            <!--end breadcrumb-->

            <div class="row">
                <div class="col-2 pb-3" >
                    <label for="inputState" class="form-label">Limit</label>
                    <select id="inputState" class="form-select" [(ngModel)]='pageLimit' (change)="getDetail(1)">
                    <option *ngFor="let item of service.LimitArray">{{item}}</option>
                    </select>                   
                </div>
                <div class="col-2 pb-3" >
                    <label for="inputState" class="form-label">Status</label>
                    <select id="inputState" class="form-select" [(ngModel)]='statusKey' (change)="getDetail(1)">
                    <option value="New">New</option>
                    <option value="Completed">Completed</option>
                    <option value="InProgress">InProgress</option>
                    <option value="Inspected">Inspected</option>
                    <option value="VendorDelay">Vendor Delay</option>
                    <option value="RepairScheduled">Repair Scheduled</option>
                    <option value="Deleted">Deleted</option>

                    
                    </select>                   
                </div>
                <div class="col-2 pb-3" >
                    <label for="inputState" class="form-label">Issue Type</label>
                    <select id="inputState" class="form-select" [(ngModel)]='issueKey' (change)="getDetail(1)">
                    <option value="1">Inside</option>
                    <option value="0">Outside</option>
                    </select>                   
                </div>  
                <div class="col-2 pb-3 pt-4" >
                    <button type="button" class="btn custom-btn px-5" (click)="reset()">Reset</button>             
                </div>              
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table class="table mb-0 table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">No.</th>
                                        <th scope="col">Ticket No</th>
                                        <th scope="col">Issue Type</th>
                                        <th scope="col">Issue Name</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Create Date</th>
                                        <th scope="col">Created By</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of dataListing | paginate: { itemsPerPage: pageLimit, currentPage: p, totalItems: totalCount}; let i = index ">
                                        <td scope="row">{{(pageLimit * (p - 1)) + i + 1 }}</td>
                                        <td>{{item.ticketNumber}}</td>
                                        <td>{{item.parentData.issueTypeN}}</td>
                                        <td>{{item.parentData.name}}</td>
                                        <td>
                                            <span class="badge bg-info" *ngIf="item.status=='New'">{{item.status}}</span>
                                            <span class="badge bg-info" *ngIf="item.status=='Inspected'">{{item.status}}</span>
                                            <span class="badge bg-primary" *ngIf="item.status=='RepairScheduled'">{{item.status}}</span>
                                            <span class="badge bg-warning" *ngIf="item.status=='VendorDelay'">{{item.status}}</span>
                                            <span class="badge bg-primary" *ngIf="item.status=='InProgress'">{{item.status}}</span>
                                            <span class="badge bg-danger" *ngIf="item.status=='Deleted'">{{item.status}}</span>
                                            <span class="badge bg-success" *ngIf="item.status=='Completed'">{{item.status}}</span>
                                        </td>
                                        <td>{{service.dateCon(item.createdAt)}} </td>
                                        <td>{{item.userData.firstName}} {{item.userData.lastName}}
                                        </td>
                                        <td> <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="button" class="btn btn-info text-center me-3" (click)="redirect(item)">
                                                 <i class="bx bx-show"></i>
                                             </button>                                            
                                         </div></td>
                                    </tr>
                             
                                </tbody>
                            </table>
                            <div class="pagination-block pt-5">
                                <pagination-controls [previousLabel]="previousLabel" [nextLabel]="nextLabel" (pageChange)="getDetail((p = $event))" class="text-center" *ngIf="dataListing.length > 0"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end row-->





        </div>
    </div>
    <app-footer></app-footer>
    </div>