
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' ,fullScreenBackdrop:true}"></ngx-loading>
<div class="wrapper">
<app-sidebar></app-sidebar>
<app-header></app-header>

<div class="page-wrapper">
    <div class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-4">
            <div class="breadcrumb-title pe-3" *ngIf="currentUrl == '/category-add' || currentUrl == '/category-edit'">Category</div>
            <div class="breadcrumb-title pe-3" *ngIf="currentUrl == '/sub-category-add' || currentUrl == '/sub-category-edit'">Sub Category</div>

            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:void(0);" routerLink><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page" (click)="service.back()" *ngIf="currentUrl == '/category-add' || currentUrl == '/category-edit'">Category</li>
                        <li class="breadcrumb-item active" aria-current="page" (click)="service.back()" *ngIf="currentUrl == '/sub-category-add' || currentUrl == '/sub-category-edit'">Sub Category</li>

                    </ol>
                </nav>
            </div>           
        </div>
        <!--end breadcrumb-->

        <div class="row">
            <div class="col-xl-7 mx-auto">
                <div class="card border-top border-0 border-4 border-brand">
                    <div class="card-body p-5">
                        <div class="card-title d-flex align-items-center">
                            <div><i class="bx bxs-user me-1 font-22 brand-color"></i>
                            </div>
                            <h5 class="mb-0 brand-color">Detail</h5>
                        </div>
                        <hr>
                        <form [formGroup]="categoryData">
                            <div class="col-12">
                                <div class="form-group pb-4">
                                    <label class="form-label m-0" for="Username"> Name </label>
                                    <input type="text" class="form-control" id="Username" placeholder="Name" aria-describedby="errorEmail" formControlName="name" [(ngModel)]="currentdetail.name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                                    <small id="errorEmail" class="errormessage orange-color d-inline-block pt-2" *ngIf="submitted && f.name.errors"> 
                                        <div *ngIf="f['name'].errors['required']"> Name is required</div>                                        
                                    </small>                                            
                                </div>
                            </div>

                            <div class="col-6" *ngIf="currentUrl == '/sub-category-edit' || currentUrl == '/category-edit'">
                                <div class="form-group pb-4">
                                    <label class="form-label m-0" for="Username"> Status </label>
                                    <select  class="form-control" formControlName="status" [(ngModel)]="currentdetail.status" [ngClass]="{ 'is-invalid': submitted && f.status.errors }"  >
                                        <option value="" hidden disabled selected>Select Status</option>
                                        <option value="Active">Active</option>
                                        <option value="Inactive">In-Active</option>
                                    </select>                                                                              
                                </div>
                            </div>
                            <!-- <div class="col-12">
                                <div class="form-group pb-4">
                                    <label class="form-label m-0" for="Username"> Type </label>
                                    <select  class="form-control text-lowercase" formControlName="type" [(ngModel)]="currentdetail.issueType" [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
                                        <option value="" hidden disabled selected>Select type</option>
                                        <option value="1">Inside</option>
                                        <option value="0">Outside</option>
                                    </select>
                                    <small id="errorEmail" class="errormessage orange-color d-inline-block pt-2" *ngIf="submitted && f.type.errors"> 
                                        <div *ngIf="f['type'].errors['required']"> Type is required</div>                                        
                                    </small>                                            
                                </div>
                            </div> -->
                        
                            <div class="col-12" *ngIf="imgURL ==''">
                                <label for="formFile" class="form-label">Choose File</label><br>
                                <input type="file" id="file1" name="image" accept="image/*" (change)="getUploadFileDetail($event)" style="cursor: pointer;" />
                            </div>

                            <div class="col-md-12"  *ngIf="imgURL !=''">
                                <img [src]="imgURL" alt="Admin" class="rounded-circle p-1 brand-bg" width="110">
                                <button type="button" class="btn text-center me-3" (click)="changeImage()">
                                    <i class="bx bx-pencil"></i>
                                </button>
                                <input type="file" id="file1" name="image" accept="image/*" (change)="getUploadFileDetail($event)" style="cursor: pointer;display: none;" />
                            </div> 
                            <div class="col-12 pt-4 d-flex">
                                <button type="click" class="btn custom-btn brand-btn px-5 me-5" (click)="service.back()">Back
                                </button>
                                <button type="submit" class="btn custom-btn brandsecundary-btn px-5" (click)="Onsubmit()">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--end row-->

    </div>
</div>

<app-footer></app-footer>
</div>

