<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img src="assets/images/logo.png" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <img src="assets/images/logo.png" class="logo-n-ic logo-text" alt="logo">
        </div>
        <div class="toggle-icon ms-auto"><i class='bx bx-menu'></i>
        </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li>
            <a routerLink='/dashboard'>
                <div class="parent-icon"><i class='bx bx-home-circle'></i>
                </div>
                <div class="menu-title">Dashboard</div>
            </a>
        </li>
        <li>
            <a routerLink="/bidding">
                <div class="parent-icon"><i class='bx bx-lock'></i>
                </div>
                <div class="menu-title">Manage Bids</div>
            </a>
        </li>
        <li>
            <a routerLink="/ticket">
                <div class="parent-icon"><i class='bx bx-spreadsheet'></i>
                </div>
                <div class="menu-title">Manage Tickets</div>
            </a>
        </li>
        <li>
            <a routerLink="/services">
                <div class="parent-icon"><i class='bx bx-spreadsheet'></i>
                </div>
                <div class="menu-title">Manage Services</div>
            </a>
        </li>
        <li>
            <a routerLink="/property">
                <div class="parent-icon"><i class='bx bx-spreadsheet'></i>
                </div>
                <div class="menu-title">Manage Property</div>
            </a>
        </li>
        <li>
            <a routerLink="/amenities">
                <div class="parent-icon"><i class='bx bx-spreadsheet'></i>
                </div>
                <div class="menu-title">Manage Amenities</div>
            </a>
        </li>

        <li>
            <a routerLink="/visitors">
                <div class="parent-icon"><i class='bx bx-user-circle'></i>
                </div>
                <div class="menu-title">Manage Visitors</div>
            </a>
        </li>
        <li>
            <a class="has-arrow" href="javascript:void(0)">
                <div class="parent-icon"><i class="lni lni-users"></i>
                </div>
                <div class="menu-title">Manage Users</div>
            </a>
            <ul>
                <li> <a routerLink="/management-listing"><i class="bx bx-right-arrow-alt"></i>Management</a>
                </li>
                <li> <a routerLink="/tenant-listing"><i class="bx bx-right-arrow-alt"></i>Tenant</a>
                </li>
                <li> <a routerLink="/vendor-listing"><i class="bx bx-right-arrow-alt"></i>Vendor</a>
                </li>
                <li> <a routerLink="/user-listing"><i class="bx bx-right-arrow-alt"></i>Owner</a>
                </li>
            </ul>
        </li>
        <li>
            <a routerLink="/static-page">
                <div class="parent-icon"><i class="bx bx-spreadsheet"></i>
                </div>
                <div class="menu-title">Static Pages</div>
            </a>
        </li>
    </ul>
    <!--end navigation-->
</div>